<div class="container-fluid" id="container">

  <div class="row" id="imagediv">
    <img src="../../assets/images/dashboardillustration.png" alt="">
  </div>

  <div class="container">

    <div class="row ">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Your Referals</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash01.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Team Referals</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash02.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Total Rreferal Income</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash03.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Direct Referals Income</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash04.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Total Earning</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash05.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Wallet Balance</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash06.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Activated account</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash07.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" id="Row1">
            <h5 class="card-title"> Withdrawal Income</h5>
            <div class="d-flex" id="card_image">
              <div class="w-100 h-100">
                <img src="../../assets/images/dash08.png" alt="">
              </div>
              <div style="font-size: 3rem;" class="text-center p-lg-5">67</div>

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
  <div class="container d-flex justify-content-center mt-4" style="background-color:#f1f1f1">
    <button class="nav-item nav-link-edit btn btn-primary" [routerLink]="['']">Back to Home</button>
  </div>